<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= Settings.site_title %> - New User Registration</h1>
    <p>A new user, <%= @user.fullname %> (<%= @user.email %>), has requested an account on <%= Settings.site_title %>. Navigate to the admin area to either allow or deny this request.</p>
    
  </body>
</html>